.App {
  text-align: center;
}

.navhd{
  display: flex;
  flex-direction: row;
  background-color: green;
  height: 70px;
  
}
.navItm{
  color: white;
  text-decoration: none;
  padding-left: 17%;
  padding-top: 1.4%;
  
}
.container{
  position: absolute;
  top: 27%;
  left: 12%;
}